#bottom_always{
	font-size: 60px;
	bottom:0;
	width: 100%;

}

#glory{
	text-align: center;
}

#logo{
	text-align: center;
}
.bottomaligned1 {position:absolute; bottom:0;  margin-bottom:7px; left: 0;}
